snippet cl
console.log(${1:${vis}})
endsnippet

snippet rclass
import React, { Component } from 'react'

class ${1:className} extends Component {
		render() {
				return (
						<div>
						
						</div>
				)
		}
}

export default $1
endsnippet


snippet rafc
import React from 'react'

const ${1:Component} = () => {
	return (
		<div>
			${2:Bodyyyyy}
		</div>
	)
}
export default $1
endsnippet
